<h1>Already a camper? Sign up for an activity today</h1>

<%= form_for @camper_activity do |f| %>
    <br>
    <%= f.label :camper_id %>
    <%= f.collection_select :camper_id, Camper.all, :id, :name %>
    <br>
    <br>
    <%= f.label :activity %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name %>
    <br>
    <br>
    <%= f.label :time %>
    <%= f.time_select :time%>
    <br>
    <br>
    <%= f.submit %>
<% end %>